<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	autoReload="true">
	<variable name="logDirectory" value="d:/logs/${processname}"/>
	<variable name="csvDirectory" value="d:/csv"/>
	<targets async="false">
		<target name="c" xsi:type="Console" />
		<target name="f" xsi:type="File" fileName="${logDirectory}/${shortdate}.log"/>
		<target name="f1" xsi:type="File" fileName="D:/S01/${processid}_${event-context:item=strategy_name}.log" layout="${message}"/>
		<target type='WebService'
			name='ws'
			url='http://127.0.0.1:8000/logme'
			protocol='HttpPost'
			encoding='UTF-8'>
			<parameter name='logger' type='System.String' layout='${logger}'/>
			<parameter name='level' type='System.String' layout='${level}'/>
			<parameter name='message' type='System.String' layout='${message}'/>
			<parameter name='title' type='System.String' layout='${event-context:item=title}'/>
		</target>
	</targets>
	<rules>
		<logger name="*" minlevel="Debug" writeTo="c" />
		<logger name="*" minlevel="Fatal" writeTo="f" />
		<logger name="A99CTP" minlevel="Info" writeTo="ws" />
		<logger name="A98CTP" minlevel="Info" writeTo="ws" />
		<logger name="S01" minlevel="Info" writeTo="ws" />
		<logger name="S01.S" level="Trace" writeTo="f1" />
	</rules>
</nlog>